* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $light-grey-1;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
}

.container-fluid {
    width: 100%;
    padding: 0 20px;
}

.container-box {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    + .first {
        margin-bottom: 0;
    }
    @media(max-width: 1199px) {
        margin-left: 80px;
    }
}

/*
* === GRID ===
*/

[class*="col-"] {
    width: 100%;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            max-width: $width;
        }

        .col-offset-#{$prefix}-#{$i} {
            $margin-left: 100% / 12 * $i;
            margin-left: $margin-left;
        }
    }
}

/*
* === media queries GRID ===
*/

@media(max-width: 767px) {
    @include grid('sm');
}

@media(min-width: 768px) {
    @include grid('md');
}

@media(min-width: 992px) {
    @include grid('lg');
}

@media(min-width: 1200px) {
    @include grid('xl');
}

/*
* === media queries LAYOUT ===
*/

@media(min-width: 1200px) {
    .container-box {
        + .first {
            margin-top: 80px;
        }
    };
}