* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $light-grey-1;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
}

.container-fluid {
    width: 100%;
    padding: 0 20px;
}

.container-box {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    + .first {
        margin-bottom: 0;
    }
}

/*
* === GRID ===
*/

[class*="col-"] {
    width: 100%;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*
* === columns: width SM ===
*/

.col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
    }
}

@mixin grid($prefix) {              // ASK OSKAR HOW DOES IT WORK
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

/*
* === columns: width MD ===
*/

.col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
    }
}

@mixin grid($prefix) {  
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

/*
* === columns: width LG ===
*/

.col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
    }
}

@mixin grid($prefix) {  
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

/*
* === columns: width XL ===
*/

.col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@for $i from 1 through 12 {
    .col-xl-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
    }
}

@mixin grid($prefix) {  
    @for $i from 1 through 12 {
        .col-#{$prefix}-#{$i} {
            $width: 100% / 12 * $i;
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

/*
* === columns: offset SM ===
*/

.col-offset-sm-1 {
    margin-left: 8.33333%;
}

.col-offset-sm-2 {
    margin-left: 16.66667%;
}

.col-offset-sm-3 {
    margin-left: 25%;
}

@for $i from 1 through 12 {
    .col-offset-sm-#{$i} {
        $margin-left: 100% / 12 * $i;
        margin-left: $margin-left;
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-offset-#{$prefix}-#{$i} {
            $margin-left: 100% / 12 * $i;
            margin-left: $margin-left;
        }
    }
}

/*
* === columns: offset MD ===
*/

.col-offset-md-1 {
    margin-left: 8.33333%;
}

.col-offset-md-2 {
    margin-left: 16.66667%;
}

.col-offset-md-3 {
    margin-left: 25%;
}

@for $i from 1 through 12 {
    .col-offset-md-#{$i} {
        $margin-left: 100% / 12 * $i;
        margin-left: $margin-left;
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-offset-#{$prefix}-#{$i} {
            $margin-left: 100% / 12 * $i;
            margin-left: $margin-left;
        }
    }
}

/*
* === columns: offset LG ===
*/

.col-offset-lg-1 {
    margin-left: 8.33333%;
}

.col-offset-lg-2 {
    margin-left: 16.66667%;
}

.col-offset-lg-3 {
    margin-left: 25%;
}

@for $i from 1 through 12 {
    .col-offset-lg-#{$i} {
        $margin-left: 100% / 12 * $i;
        margin-left: $margin-left;
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-offset-#{$prefix}-#{$i} {
            $margin-left: 100% / 12 * $i;
            margin-left: $margin-left;
        }
    }
}

/*
* === columns: offset XL ===
*/

.col-offset-xl-1 {
    margin-left: 8.33333%;
}

.col-offset-xl-2 {
    margin-left: 16.66667%;
}

.col-offset-xl-3 {
    margin-left: 25%;
}

@for $i from 1 through 12 {
    .col-offset-xl-#{$i} {
        $margin-left: 100% / 12 * $i;
        margin-left: $margin-left;
    }
}

@mixin grid($prefix) {
    @for $i from 1 through 12 {
        .col-offset-#{$prefix}-#{$i} {
            $margin-left: 100% / 12 * $i;
            margin-left: $margin-left;
        }
    }
}

/*
* === media queries GRID ===
*/

@media(max-width: 767px) {
    @include grid('sm');
}

@media(min-width: 768px) {
    @include grid('md');
}

@media(min-width: 992px) {
    @include grid('lg');
}

@media(min-width: 1200px) {
    @include grid('xl');
}

/*
* === media queries LAYOUT ===
*/

@media(min-width: 992px) {
    .container-box {
        + .first {
            margin-top: 80px;
        }
    };
}

@media(min-width: 1200px) {
    .container-box {
        + .first {
            margin-top: 80px;
        }
    };
}