/* Colors */
$main-color: #F58121;
$secondary-color: rgb(89, 194, 230);
$font-color: grey;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Section margin */
$section-margin: 40px;

/* Line height */
$line-height: 1.5;