.left-border {
    border-left: 1px solid $light-grey-2;
    .range-labels {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .slide-container {
        width: 100%;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        @media(max-width: 991px) {
            margin-bottom: 60px;
        }
        .slider {
            -webkit-appearance: none;
            appearance: none;
            background: $light-grey-2;
            outline: none;
            opacity: 0.8;
            -webkit-transition: .2s;
            transition: opacity .2s;
            position: relative;
            overflow: hidden;
            height: 10px;
            width: 100%;
            &:hover {
                opacity: 1;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                height: 10px;
                cursor: pointer;
                width: 0;
                background: $light-grey-2;
                box-shadow: -100vw 0 0 100vw $main-color;
            }
            &::-moz-range-thumb {
                width: 25px;
                height: 10px;
                background: $light-grey-2;
                cursor: pointer;
                border-radius: 0 !important;
                box-shadow: -100vw 0 0 100vw $main-color;
            }
            &::-moz-range-track {
                height: 10px;
                background: $light-grey-2;
            }
            &::-ms-fill-lower { 
                background: $main-color;
            }
            &::-ms-thumb { 
                background: $light-grey-2;
                height: 10px;
                width: 20px;
            }
            &::-ms-ticks-after { 
                display: none; 
            }
            
            &::-ms-ticks-before { 
                display: none; 
            }
            &::-ms-track { 
                background: $light-grey-2;
                color: transparent;
                height: 10px;
                border: none;
            }
            &::-ms-tooltip { 
                display: none;
            }
        }
        #rangeValue {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    }
}


/* MOVING VALUE BUBBLE */

#triangle { 
    position: absolute;
    width: 40px; 
    height: 30px; 
    display: inline-block; 
    top: 70%;
    left: 47%;
    &:after { 
        content: "";
        position: absolute; 
        width: 0;
        height: 0;
        border-bottom: 20px solid $main-color;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: 100%;
        right: 50%;
        margin-right: -12px;
        margin-bottom: 5px;
    }
}
