.checkbox-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-grey-2;
    .checkbox-intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: normal;
        padding: 10px 0;
        padding-right: 20px;
        div {
            display: flex;
            align-items: center;
            .checkbox {
                border: 2px solid $light-grey-2;
                margin-right: 10px;
                background-color: white;
                .fa-check {
                    color: white;
                } 
            }
            input {
                position: absolute;
                margin: 0;
                width: 20px;
                height: 20px;
                opacity: 0;
                &:checked + .checkbox {
                    background-color: $green;
                    border: 2px solid $green;
                    transition: .5s ease;
                }
            }
        }
    }
}

/*
	MEDIA QUERIES
*/

@media(min-width: 992px) {
    .checkbox-section {
        border: none;
        .checkbox-intro {
            padding: 10px;
            input {
                width: 10px;
                height: 10px;
            }
            .icon {
                height: 15px;
                fill: white;
            }
            &:hover {
                background-color: $light-grey-1;
                cursor: pointer;
                .icon {
                    fill: $dark-grey;
                }
            }
        }
    };
}