.icon {
    height: 20px;
    max-height: 100%;
    fill: $font-color;
    &:hover {
        transition: $main-color 0.5s ease;
        fill: $dark-grey;
        cursor: pointer;
    }
}

.icon-sm {
    width: 25px;
}