table {
    tr {
        border-bottom: 1px solid $light-grey-2;
        display: flex;
        align-items: center;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-wrap: wrap;
        &:first-of-type {
            border-top: 1px solid $light-grey-2;
        }
        &:last-of-type {
            margin-bottom: 20px;
        }
        .row-heading {
            font-weight: bold;
        }
        .row-link {
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                text-decoration: none;
                font-weight: normal;
                color: $link-color;
                cursor: pointer;
                &:hover {
                    color: $main-color;
                }
            }
        }
        .row-icons {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                margin: 0 5px;
            }
        }
    }
}

@media(min-width: 992px) {
    table {
        tr {
            .row-icons {
                flex-wrap: nowrap;
                justify-content: space-around;
                a {
                    margin: 0;
                }
                .icon {
                    fill: white;
                }
            }
            &:hover {
                background-color: $light-grey-1;
                .icon {
                    fill: $dark-grey;
                }
            }
        }
    };
}