#postback {
    #new-postback {
        padding-top: 0;
        .container-box{
            padding-bottom: 0;
            display: flex;
            justify-content: flex-end;
            .field-heading {
                font-weight: bold;
                padding: 20px 0;
            }
            .parameters {
                color: black;
                text-align: left;
                width: 100%;
                padding: 0 20px;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0;
                .border-row {
                    border-top: 1px solid $light-grey-2;
                    border-bottom: 1px solid $light-grey-2;
                    margin: 20px 0;
                    justify-content: space-between;
                    b {
                        color: $red;
                    }
                }
                button {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    #postback {
        margin-top: 80px;
    };
}