.sidebar {
    position: fixed;
    background-color: #191919;
    margin: 0;
    color: $font-color;
    .logo {
        font-family: 'Bubblegum Sans', cursive;
        font-size: 24px;
    }
    nav {
        ul {    
            display: none;
            list-style-type: none;
            li {
                margin: auto 0;
                position: relative;
                span {
                    display: none;
                }
                &:hover {
                    background-color: #282828;
                    color: white;
                    span {
                        display: visible;
                        position: absolute;
                        margin: 0;
                        padding: 0;
                        width: 5px;
                        background-color: $main-color;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
}